// $colors: (
//   "blue":       $blue,
//   "indigo":     $indigo,
//   "purple":     $purple,
//   "pink":       $pink,
//   "red":        $red,
//   "orange":     $orange,
//   "yellow":     $yellow,
//   "green":      $green,
//   "teal":       $teal,
//   "cyan":       $cyan,
//   "white":      $white,
//   "gray":       $gray-600,
//   "gray-dark":  $gray-800
// );
$theme-colors: (
  "success": #16c784
);

// @import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/scss/bootstrap";

.shadowed {
  -webkit-filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.15));
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='rgba(0, 0, 0, 0.15)')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='rgba(0, 0, 0, 0.15)')";
}

// 0 0.5rem 1rem rgb(0 0 0 / 15%) !important